.title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: gray;
}

.title:hover {
    color: pink;
}


nav {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 60px 0 60px;
}

nav li {
    list-style: none;
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
}

nav li span {
    padding-left: 5px;
}

li a {
    padding: 5px;
    background-color: pink;
    text-decoration: none;
}

.products-container {
    max-width: 650px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
}

.product-header{
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid pink;
    margin: 0 auto;
}

.product-title{
    width:45%;
}

.quantity {
    width: 30%;
    
    display: flex;
    align-items: center;
}
.total {
    width: 10%;
    
    display: flex;
    align-items: center;
}

.product {
    width: 45%;
    border-bottom: 1px solid pink;
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col:hover {
    transform: translateY(-5px);
}

.col img {
    width: 50%;
}

