
@import url('https://fonts.googleapis.com/css2?family=Days+One&family=Yellowtail&family=Raleway:wght@300;700&display=swap');
:root {
  --primary-color:#232327;
  --secondary-color: #e6c2bf;
  --border-color: rgb(255, 255, 255);
  --logo-color: #93385fff;
  --nav-color: #4f3466ff;
  --accent-color: #9f6b99ff;
  --caption-color: #301728ff;
}
body {
  padding: 0;
  margin: 0;
}
.nav-bar {
  position: absolute;
  width: 100%;
  height: 80px;
  background-color: var(--border-color);
  display: flex;
  place-content: space-between;
}
.title-container {
  position: absolute;
  left: 42%;
}
.font-logo {
  width: 240.11px;
  margin: 13px 5px 0 0;
  font-family: 'Yellowtail', cursive;
  font-size: 2.5em;
  font-weight: bold;
  letter-spacing: .1em;
  color: var(--logo-color);
}
.nav-container {
  height: 50%;
  width: 11%;
  text-align: center;
}
#contact {
  position: absolute;
  top: 27%;
  left: 17%;
}
#browse {
  position: absolute;
  top: 27%;
  right: 13%
}
.nav-title {
  font-family: 'Raleway', sans-serif;
  color: var(--nav-color);
  width: 67%;
  margin: 0;
  padding-top: 3%;
  letter-spacing: .3em;
  font-size: 1.8em;
}
a, a:visited {
  text-decoration: none;
}
a:hover .nav-title {
  color: var(--accent-color);
}
/*         Main Body         */
.main-column { 
  display: flex;
  justify-content: space-between;
}
.column {
  background-color: var(--border-color);
  width: 6%;
}
.footer{
  width: 100%;
  height: 55px;
  background-color: var(--border-color);
}
.carousel-display {
  position: absolute;
  top: 80px;
  bottom: 55px;
  left: 6%;
  right: 6%;
  padding: 0;
  margin: 0;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.arrow{
  border: solid var(--logo-color);
  border-radius: 20%;
  border-width:  0 7px 7px 0;
  display: inline-block;
  padding: 12px;
}
.arrow:hover{
  border-color:var(--secondary-color) ;
}
.arrow-prev{
  left: -70px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(135deg);
}
.arrow-next{
  right: -70px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}
[id^= "display"] {
  display: none;
}
.main-container {
  position: absolute;
  top: 8%;
  right: 30.5%;
  width: 40%;
  height: 40%;
  border-radius: 2%;
  background-color: rgba(255, 255, 255, 0.644);
  font-family: 'Raleway', sans-serif;
  color: var(--caption-color);
  font-size: 1.4em;
  text-align: center;
}
.container2 {
  background-color: rgba(255, 255, 255, 0.753);
}
.container3 {
  background-color: rgba(255, 255, 255, 0.753);
}
.dp1-header{
  margin-top: 11%;
  margin-bottom: 7%;
}
.dp1-caption{
  margin: 1%;
}
.dp2-header{
  margin-bottom: 6%;
}
.dp2-caption {
  margin: 1%;
  top: 95px;   
}
.dp3-header{
  margin-top: 7%;
  margin-bottom: 4%;
}
.dp3-caption {
  margin: 1.5%;
}
.accent {
  color: var(--logo-color);
}
.button {
  position: relative;
  height: 15%;
  width: 25%;
  left: 37%;
  background-color: var(--logo-color);
  margin-top: 4%;
  padding-top:2% ;
  color: white;
  font-size: 1.1em;
  font-weight: 600;
  letter-spacing: .1em;
}
.button:hover {
  color: var(--caption-color);
}
.display-1 {
  z-index: 2;
  opacity: 1;
  background-image: url("assets/display2.jpg");
  background-size: cover;
}
.display-2 {
  background-image: url("assets/display3.jpg");
  background-size: cover;
}
.display-3 {
  background-image: url("assets/display.jpg");
  background-size: cover;
}
*:target ~ .display-1{
  opacity: 0;
}
#d1:target ~ .display-1{
  opacity: 1;
}
#d2:target ~ .display-2, #d3:target ~ .display-3 {
  z-index: 3;
  opacity: 1;
}
.page-indicator{
  position: absolute;
  top: 102%;
  left: 45%;
  width: 10%;
  display: flex; 
  justify-content: space-between;
} 
.circle {
  background-color: rgba(159, 107, 153, 0.548);
  border-radius: 100%;
  height: 20px;
  width: 20px;
}
.active {
  background-color: rgba(147, 56, 95, 0.733);
}
