@import url('https://fonts.googleapis.com/css2?family=Days+One&family=Yellowtail&family=Raleway:wght@300;700&display=swap');

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: black;
    text-align: center;
}
.title-container {
    position: absolute;
    left: 42%;
}
.font-logo {
    width: 240.11px;
    margin: 13px 5px 0 0;
    font-family: 'Yellowtail', cursive;
    font-size: 2.5em;
    font-weight: bold;
    letter-spacing: .1em;
    color: #93385fff;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.column {
    float: left;
    width: 25%;
    padding: 0 10px;
}

img {
    vertical-align: middle;
    border-radius: 50%;
  }
  

.about-us-section {
    padding: 80px;
    text-align: center;
    background-color: pink;
    color: white;
}

.container {
    padding: 0 16px;
}

.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}

/* 
@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
} */


.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }
  
  .header a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .header a.active {
    background-color: dodgerblue;
    color: white;
  }