nav {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 60px 0 60px;
}

nav li {
    list-style: none;
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
}
nav li span {
    padding-left: 5px;
}

li a {
    padding: 5px;
    background-color: pink;
    text-decoration: none;
}

.categories {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col:hover {
    transform: translateY(-5px);
}

.col img {
    width: 100%;
}

.title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: gray;
}

.title:hover {
    color: pink;
}

.add-cart {
    border: 2px solid pink;
    background: darksalmon;
    color: white;
    font-weight: bold;
}

.add-cart:hover {
    box-shadow: 0 0 5px 5px red inset;
}

.toggle {
    position: relative;
    width: 60px;
    height: 60px;
    background: url('cart.png');
    background-repeat: no-repeat;
    background-size: 60px;
    cursor: pointer;
  }
  
  .toggle.active {
    background: url('assets/close_icon.png');
    background-repeat: no-repeat;
    background-size: 60px;
    background-position: center;
  }

  .cart {
    position: absolute;
    top:0;
    right:0;
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .cart ul {
    position: relative;
    list-style: none;
  }

